<div class="container">
  <div class="row">
    <div class="col">
      <h2>One</h2>
      <%= image_tag("1542104318.png") %>
    </div>
  </div>
</div>
<!-- <img src="1542104318.png" class="img-fluid" alt="..."> -->
