<h1>Editing Family Environment</h1>

<%= render 'form', family_environment: @family_environment %>

<%= link_to 'Show', student_family_environment_path(@student.id,@family_environment.id) ,class: "btn btn-outline-success" %>
<%= link_to 'マイページ', mypage_students_path ,class: "btn btn-outline-success" %>
