
<table class="table table-striped">
  <tbody>
  <% comments.each do |comment| %>
    <tr>
      <% if comment.user.try(:admin?) %>
        <td>学校</td>
      <% else%>
        <td><%= comment.user.students.first.parents_name %></td>
      <% end %>
    <tr>
      <% if comment.id.present? %>
        <td><%= comment.content %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
