<div class="container">
  <p id="notice"><%= notice %></p>

    <strong>【ご登録内容変更の場合】</strong>
    <p>変更箇所を下記フォームにご入力後、登録するをクリックしてください。</p>
     <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
     <div id="comments_area">
       <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
       <%= render partial: 'comments/index', locals: { comments: @comments, contact: @contact, user: @user } %>
     </div>

     <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
     <%= render partial: 'comments/form', locals: { comment: @comment, contact: @contact, user: @user } %>

   </div>
